/* Palette color codes */
/* Feel free to copy&paste color codes to your application */

$primary-1: #99FF00;
$primary-2: #99CC33;
$primary-3: #99CC00;
$primary-4: #CCFF33;
$primary-5: #CCFF66;

$secondary-a-1: #006699;
$secondary-a-2: #006699;
$secondary-a-3: #003366;
$secondary-a-4: #3366CC;
$secondary-a-5: #6699CC;

$secondary-b-1: #FF9900;
$secondary-b-2: #CC9933;
$secondary-b-3: #CC9900;
$secondary-b-4: #FFCC33;
$secondary-b-5: #FFCC66;

/* end */

