@import 'colors';
@import 'fonts';
@import 'mixins';

body {
	background: white;
	color: black;
	font: $font;
	text-align: left;
}

a {
  color: $secondary-a-1;
  &:visited{ color: $secondary-a-2; }
  &:hover { color: $secondary-a-5; }
}

header {
  color: $secondary-a-2;
  display: block;
  font-size: large;
  padding: 2px;
  a{
    font-size: small;
    font-weight: bold;
    margin: 5px 10px 5px 5px;
    color: $primary-2;
    &:visited{ color: $primary-2; }
    &:hover{ color: $primary-1; }
  }

  &.bar {
    background-color:$primary-5;
    border-top: 1px solid $primary-3;
    border-bottom: 1px solid $primary-3;
  }  
}

.phone{
  border-top: none;
}

#page {
  padding: 0px;
  margin: 10px auto;
  width: 854px;
}

#header {
  @include box;
  position: relative;
  z-index: 0;
  display: block;
  font-size: 8em;
  height: 100px;
  background-color: $primary-5;
  text-shadow: -2px 2px 5px black;
  .header_phone { color: white; }
  .header_shop { color: $secondary-a-1; }
}

#navigation {
  @include box;
  margin: 0px;
  background-color: $secondary-a-5;
  color: $secondary-a-1;
  border-color: $secondary-a-1;
  height: 25px;
  ul {
    list-style-type:none;
    margin:0;
    padding:0;
    li {
      display: inline;
      float:left;
      a{
        position: relative;
        z-index: 99;
        display:block;
        width: 120px;
        height: 17px;
        font-weight: bold;
        text-align:center;
        padding:4px;
        text-decoration:none;
        &:link,&:visited { color: $secondary-a-1; }
        &:hover,&:active { background-color: $secondary-a-2; color: $secondary-a-5; }
      }
    }
  }
}

#sidebar {
  width: 240px;
  height: auto;
  float: left;
}

#content{
  @include box;
  min-height: 400px;
  float: right;
  width: 590px;
}

#footer{
  @include box;
  background-color: $secondary-a-5;
  color: $secondary-a-1;
  border: 1px solid $secondary-a-1;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

.inner {
  margin: 5px 5px 5px 5px;
  height: auto;
}

.left{ float: left; }
.right{ float: right; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

