@import 'colors';
@import 'fonts';

body {
	margin: 0; 
  padding: 2em;
	background: white;
	color: black;
	font: $font;
	text-align: left;
}

h1, h2, h3{
  padding: 0px;
  margin: 0px;
}

a {
  color: $secondary-a-1;
  &:visited{ color: $secondary-a-2; }
  &:hover { color: $secondary-a-5; }
}

header.bar {
  color: $secondary-a-2;
  display: block;
  font-size: large;
  background-color:$primary-5;
  border-top: 1px solid $primary-3;
  border-bottom: 1px solid $primary-3;
  span {
    margin: 5px 5px 5px 10px;
  }

  a{
    font-size: small;
    font-weight: bold;
    margin: 5px 10px 5px 5px;
    color: $primary-2;
    &:visited{ color: $primary-2; }
    &:hover{ color: $primary-1; }
  }
}

.phone{
  border: 1px solid $primary-3;
  border-top: none;
}

.inner {
  margin: 5px 5px 5px 15px;
}

#header {
  position: relative;
  z-index: 0;
  display: block;
  font-size: 9em;
  height: 100px;
  background-color: $primary-5;
  border: 2px solid $primary-2;
  text-shadow: -2px 2px 5px black;
  .header_phone { color: white; }
  .header_shop { color: $secondary-a-1; }
}

#content{
  background-color: white;
  border-left: 2px solid $primary-2;
  border-right: 2px solid $primary-2;
  margin: 0px;
  padding: 0px;
  min-height: 300px;
}

#footer{
  background-color: $secondary-a-5;
  color: $secondary-a-1;
  border: 1px solid $secondary-a-1;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

#navigation {
  display: block;
  background-color: $secondary-a-5;
  color: $secondary-a-1;
  height: 25px;
  border: 1px solid $secondary-a-1;
  margin: 0px;
  ul {
    list-style-type:none;
    margin:0;
    padding:0;
    li {
      display: inline;
      float:left;
      a{
        position: relative;
        z-index: 99;
        display:block;
        width: 120px;
        height: 17px;
        font-weight: bold;
        text-align:center;
        padding:4px;
        text-decoration:none;
        &:link,&:visited { color: $secondary-a-1; }
        &:hover,&:active { background-color: $secondary-a-2; color: $secondary-a-5; }
      }
    }
  }
}

.left{ float: left; }
.right{ float: right; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

