@import 'mixins';

#mini_cart {
  @include box;
 
  position: relative;
  font-size: x-small; 
  ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
  }
  min-height: 150px;

  .cart_summary {
    font-weight: bold;
    position: absolute;
    bottom: 0px;
  }
}



