#navigation
  %ul
    %li= link_to "Strona główna", root_path
    %li= link_to 'Wszystie telefony', phones_path
    %li= link_to 'Kategorie', categories_path
    %li= link_to 'Admin', admin_admin_path
